.content__main_image {
    align-items: center;
    animation: mainImage 0.7s forwards;
    animation-delay: 0.1s;
    background-size: 100%;
    border: 5px solid var(--mainColor);
    display: flex;
    height: 100vh;
    justify-content: center;
    left: -40%;
    opacity: 0;
    position: absolute;
    transform: rotate(45deg) translate(-36%, 40%);
    transition: $colorTransition;
    width: 42%;

    @keyframes mainImage {

        from {
            left: -40%;
            opacity: 0;
        }

        to {
            left: 0%;
            opacity: 1;
        }
    }
}

.typeToexemples .content__main_image {
    animation: mainImageRever 0.7s forwards;
}

@keyframes mainImageRever {

    from {
        left: 0;
        opacity: 1;
    }

    to {
        left: -40%;
        opacity: 0;
    }
}

.content__years {
    animation: show 0.3s forwards;
    animation-delay: 0.6s;
    color: #fff;
    font-family: "Spectral SC";
    font-size: 70px;
    opacity: 0;
    position: absolute;
    text-align: center;
    width: 24%;
    z-index: 2;
}

.typeToexemples .content__years {
    animation: hide 0.1s forwards;
}

.content__main_image::after {
    @include main-color-background;

    content: "";
    display: block;
    height: 100%;
    opacity: 0.1;
    position: absolute;
    top: 0;
    width: 100%;
}
