footer.window-5
    img(src="main/window-5(1).webp" atr="footer image").window-5__image-1.reveal-blocks
    section.window-5__text
        h2.language.text__title-footer.reveal-texts(data-key="footerTitle") 

        button.language.text__button-footer.mouse-active2(data-key="footerButton") 
        img(src="main/window-5(2).webp" atr="Mona Lisa").window-5__image-2
        button.text__button-to-top.mouse-active2 &#9650;