section.window-4 
      .window-4__title-block
        section.title-block__text.title-block__text-1
          h2.language.text__title(data-key="titleArchitecture")  
            b 
          .text__block
          
        section.title-block__text.title-block__text-2
          h2.language.text__title(data-key="titleArchitecture")  
            b 
          .text__block
        
        section.title-block__text.title-block__text-3
          h2.language.text__title(data-key="titleArchitecture")  
            b 
          .text__block

        section.title-block__text.title-block__text-4
          h2.language.text__title(data-key="titleArchitecture")  
            b 
          .text__block

      section.window-4__architecture.reveal-blocks 

        .architecture__images-block.architecture__images-block-1

          .images-block__image-architecture.images-block__image-architecture-1.mouse-active

            div.image-architecture__background.image-architecture__background-1

            article.image-architecture__information
              .image-architecture__close-architecture
                b.close-architecture.mouse-active2 &#10010;
              
              span.text__background-architecture-active

              .image-architecture__text
                h3.language(data-key="architectureTitle-1") 
                p.language(data-key="architectureText-1")
                

          .images-block__image-architecture.images-block__image-architecture-2.mouse-active

            div.image-architecture__background.image-architecture__background-2

            article.image-architecture__information
              .image-architecture__close-architecture
               b.close-architecture.mouse-active2 &#10010;

              span.text__background-architecture-active

              .image-architecture__text
                h3.language(data-key="architectureTitle-2") 
                p.language(data-key="architectureText-2")


          .images-block__image-architecture.images-block__image-architecture-3.mouse-active

            div.image-architecture__background.image-architecture__background-3

            article.image-architecture__information
              .image-architecture__close-architecture
                b.close-architecture.mouse-active2 &#10010;

              span.text__background-architecture-active

              .image-architecture__text
                h3.language(data-key="architectureTitle-3") 
                p.language(data-key="architectureText-3")


        .architecture__images-block.architecture__images-block-2

          .images-block__image-architecture.images-block__image-architecture-4.mouse-active

            div.image-architecture__background.image-architecture__background-4

            article.image-architecture__information
              .image-architecture__close-architecture
                b.close-architecture.mouse-active2 &#10010;
              
              span.text__background-architecture-active

              .image-architecture__text
                h3.language(data-key="architectureTitle-4") 
                p.language(data-key="architectureText-4")
  

          .images-block__image-architecture.images-block__image-architecture-5.mouse-active

            div.image-architecture__background.image-architecture__background-5

            article.image-architecture__information
            
              .image-architecture__close-architecture
                b.close-architecture.mouse-active2 &#10010;

              span.text__background-architecture-active

              .image-architecture__text
                h3.language(data-key="architectureTitle-5") 
                p.language(data-key="architectureText-5")


          .images-block__image-architecture.images-block__image-architecture-6.mouse-active

            div.image-architecture__background.image-architecture__background-6
            

            article.image-architecture__information 
              .image-architecture__close-architecture
                b.close-architecture.mouse-active2 &#10010;

              span.text__background-architecture-active

              .image-architecture__text
                h3.language(data-key="architectureTitle-6") 
                p.language(data-key="architectureText-6")