section.window-2
      h2.language.window-2__title-1.reveal-texts(data-key="title-2")
      .window-2__slider-paint.reveal-blocks

        section.slider-paint__image-paint

          span.image-paint__button.image-paint__prev.mouse-active2 
            span.button__child.prev__child

          span.image-paint__button.image-paint__next.mouse-active2 
            span.button__child.prev__child

          img(src="main/window-2-paints.webp", alt="painting 1").image-paint__img-0

          .image-paint__images
            img(src="main/window-2(1).webp", alt="painting 1").images__img.images__img-1.images__img-active
            img(src="main/window-2(2).webp", alt="painting 2").images__img.images__img-2
            img(src="main/window-2(3).webp", alt="painting 3").images__img.images__img-3
            img(src="main/window-2(4).webp", alt="painting 4").images__img.images__img-4
            img(src="main/window-2(5).webp", alt="painting 5").images__img.images__img-5

          span.image-paint__number 01/05

        section.slider-paint__text-paint
        
          h3.language.text-paint__name.text-paint__name-1.text-paint__name-active(data-key='paintName1') 
          h3.language.text-paint__name.text-paint__name-2(data-key="paintName2") 
          h3.language.text-paint__name.text-paint__name-3(data-key="paintName3")
          h3.language.text-paint__name.text-paint__name-4(data-key="paintName4")
          h3.language.text-paint__name.text-paint__name-5(data-key="paintName5")

          h4.language.text-paint__cost.text-paint__cost-1.text-paint__cost-active(data-key="paintCost1")
          h4.language.text-paint__cost.text-paint__cost-2(data-key="paintCost2")
          h4.language.text-paint__cost.text-paint__cost-3(data-key="paintCost3")
          h4.language.text-paint__cost.text-paint__cost-4(data-key="paintCost4")
          h4.language.text-paint__cost.text-paint__cost-5(data-key="paintCost5") 

          hr
          p.language.text-paint__description.text-paint__description-1.text-paint__description-active(data-key="paintDescription1")
          p.language.text-paint__description.text-paint__description-2(data-key="paintDescription2")
          p.language.text-paint__description.text-paint__description-3(data-key="paintDescription3")
          p.language.text-paint__description.text-paint__description-4(data-key="paintDescription4")
          p.language.text-paint__description.text-paint__description-5(data-key="paintDescription5")
    
      .window-2__end