section.window-3
      img.window-3__image(src="main/window-3(0).webp", alt="Statue")
      h2.language.window-3__title-1.reveal-texts(data-key="title-3") 
        b  

      section.window-3__slider.reveal-blocks

        section.slider__point
          .point__child.point__child-1.point__child-active.mouse-active
          .point__child.point__child-2.mouse-active
          .point__child.point__child-3.mouse-active
          .point__child.point__child-4.mouse-active
          .point__child.point__child-5.mouse-active
          button.language.description__button.mouse-active2(data-key="3dSculptures")
        
        section.slider__information

          section.information__images
            img(src="main/window-3(1).webp", alt="sculptures 1").images__sculptur.images__sculptur-1.images__sculptur-active
            img(src="main/window-3(2).webp", alt="sculptures 2").images__sculptur.images__sculptur-2
            img(src="main/window-3(3).webp", alt="sculptures 3").images__sculptur.images__sculptur-3
            img(src="main/window-3(4).webp", alt="sculptures 4").images__sculptur.images__sculptur-4
            img(src="main/window-3(5).webp", alt="sculptures 5").images__sculptur.images__sculptur-5
            .images__background.images__background-1 
              .images__background.images__background-2 
                .images__background.images__background-3


          article.information__description
          
            h3.language.description__header.description__header-1.description__header-active(data-key="sculpturesName1")  
            h3.language.description__header.description__header-2(data-key="sculpturesName2") 
            h3.language.description__header.description__header-3(data-key="sculpturesName3") 
            h3.language.description__header.description__header-4(data-key="sculpturesName4") 
            h3.language.description__header.description__header-5(data-key="sculpturesName5") 

            p.language.description__text.description__text-1.description__text-active(data-key="sculpturesDescription1") 
            p.language.description__text.description__text-2(data-key="sculpturesDescription2") 
            p.language.description__text.description__text-3(data-key="sculpturesDescription3") 
            p.language.description__text.description__text-4(data-key="sculpturesDescription4") 
            p.language.description__text.description__text-5(data-key="sculpturesDescription5") 
            
          .information__next-slide
              .next-slide__arrow.mouse-active 
                span.arrow__child
              img.next-slide__image.next-slide__image-1(src="main/window-3(1).webp", alt="sculptures 1")
              img.next-slide__image.next-slide__image-2.next-slide__image-active(src="main/window-3(2).webp", alt="sculptures 2")
              img.next-slide__image.next-slide__image-3(src="main/window-3(3).webp", alt="sculptures 3")
              img.next-slide__image.next-slide__image-4(src="main/window-3(4).webp", alt="sculptures 4")
              img.next-slide__image.next-slide__image-5(src="main/window-3(5).webp", alt="sculptures 5")