include /pug/header
body(data-name="paintings" data-menu="paintings")

main.content
    h1.content_year.year 1434
    span.content__background
        h1.background_year.year 1964

.swiper-container

  .scrollbar
    h1.scrollbar__year.year-1 1434
    .swiper-scrollbar.mouse-active
    h1.scrollbar__year.year-2 1964

  .swiper-wrapper

include /navigation/navigation