.content__exemples {
    animation: exemple 0.5s forwards;
    animation-delay: 0.1s;
    display: flex;
    justify-content: space-around;
    margin-left: 35%;
    margin-top: 17vh;
    opacity: 0;
    padding-bottom: 8vh;
    transform: translateY(120%);
    width: 100%;

    .exemples__section {
        align-items: center;
        display: flex;
        justify-content: space-around;
        width: 100%;

        .image-section__block {
            align-items: center;
            background-size: 100%;
            border: 3px solid var(--mainColor);
            display: flex;
            justify-content: center;
            transform: rotate(45deg);
            transition: $colorTransition, transform 0.3s;
            width: 25%;

            h3 {
                color: #fff;
                font-family: "Spectral SC";
                font-size: 18px;
                font-weight: 300;
                text-align: center;
                transform: rotate(-45deg);
                z-index: 2;
            }
        }
    }

    .image-section__block:hover {
        transform: scale(0.95) rotate(45deg);
        transition: 0.3s;
    }

    .image-section__block::after {
        content: "";
        height: 100%;
        opacity: 0;
        position: absolute;
        transition: $colorTransition, opacity 0.3s;
        width: 100%;
    }

    .image-section__block:hover::after {
        @include main-color-background;

        opacity: 0.2;
    }
}

.typeToexemples .content__exemples {
    animation: exempleReverse 0.5s forwards;
}

@keyframes exemple {

    from {
        opacity: 0;
        transform: translateY(120%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes exempleReverse {

    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(120%);
    }
}
