@import "src/scss/global_styles/variables";
@import "components/window-1";
@import "components/window-2";
@import "components/window-3";
@import "components/window-4";
@import "components/window-5";

body {
    @include contrast-color-black-background;

    overflow-x: hidden;
}

.content {
    opacity: 0;
    overflow: hidden;
    position: fixed;
}

.scroll-container {
    backface-visibility: hidden;
    overflow: hidden;
    transform-style: preserve-3d;
}

.line-inner {
    transform: translateY(100%);
}

.splitting .word {
    animation: slide-in 0.9s cubic-bezier(0.5, 0, 0.5, 1) both;
}

@keyframes slide-in {

    from {
        clip-path: inset(0% 100% 0% 0%);
        opacity: 0;
    }

    to {
        clip-path: inset(0% 0% 0% 0%);
        opacity: 1;
    }
}

.scrolled {
    animation: scrolled 1s forwards;
}

@keyframes scrolled {

    from {
        opacity: 0;
        transform: translateY(25%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.reveal-blocks,
.reveal-texts {
    opacity: 0;
}

.scrolled-text {
    opacity: 1;
    transition: opacity 0.3s;
}

.showGame {
    animation: topToStatic 0.7s forwards;
    display: flex !important;
}
