@media screen and (min-width: 3200px) {

    .scroll-container__close_container .scroll-container__close {
        border: 4px solid var(--contrastColorWhite);
        font-size: 33px;
        height: 70px;
        width: 70px;
    }
}

@media screen and (min-width: 2000px) and (max-width: 3200px) {

    .scroll-container__close_container .scroll-container__close {
        border: 4px solid var(--contrastColorWhite);
        font-size: 28px;
        height: 55px;
        width: 55px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {

    .scroll-container__close_container .scroll-container__close {
        border: 2px solid var(--contrastColorWhite);
        font-size: 19px;
        height: 32px;
        width: 32px;
    }
}

@media screen and (min-width: 700px) and (max-width: 1200px) {

    .scroll-container__close_container {
        top: 4vh;

        .scroll-container__close {
            border: 2px solid var(--contrastColorWhite);
            font-size: 16px;
            height: 32px;
            width: 32px;
        }
    }
}

@media screen and (max-width: 500px) {

    .scroll-container__close_container .scroll-container__close {
        font-size: 16px;
        height: 32px;
        width: 32px;
    }
}

@media screen and (min-width: 900px) and (max-width: 1400px) and (min-height: 900px) and (max-height: 1600px) {

    .scroll-container__close_container {
        top: 3vh;
        width: 100%;

        .scroll-container__close {
            font-size: 30px;
            height: 55px;
            width: 55px;
        }
    }
}
