include /pug/header
body(data-type="architecture_exemple" data-menu="architecture")

main.content

    .scroll-container#scroll-container

        span.scroll-container__close_container
            .scroll-container__close.mouse-active2 &#10010;

        section.scroll-container__big_image
            h1(data-speed="1.6" data-key="title").language.scroll-container__paralax_text 
            img(src="#", alt="exemple image").big_image__img
            

        section.scroll-container__description
            h2(data-key="years").language.scroll-container__years 

            section.description__block
                p(data-key="text1").language
                img(src="#", alt="Description img").block__image

            section.description__block
                p(data-key="text2").language
                img(src="#", alt="Description img").block__image

            section.description__block
                p(data-key="text3").language
                img(src="#", alt="Description img").block__image

        span.toTop.mouse-active2
            .toTop__icon

include /navigation/navigation 