@import "src/scss/variables";
@import "./components/backgroundLine";
@import "./components/close";
@import "./components/contentInformation";
@import "./components/navigating";
@import "./components/year";

$zoomAnimation: 0.3s;

body,
.content {
    overflow-x: clip;
}

body {
    @include main-color-background;

    height: 100vh;
    overflow: hidden;
    width: 100%;
}

.content {
    @include main-color-background;

    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
}
