@import "src/scss/global_styles/variables";
@import "src/scss/transition/transition";
@import "src/scss/transition/adap/adap-transition";

.menu {
    @include contrast-color-black-background;

    display: none;
    height: 100vh;
    justify-content: space-around;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 95;

    section {
        align-items: center;
        border-right: 1px solid #4e4e4e;
        display: flex;
        font-family: "Viaoda Libre";
        font-size: 30px;
        justify-content: center;
        text-align: center;
        text-transform: uppercase;
        width: 100%;

        @include contrast-color-white-color;
    }

    section:last-child {
        border-bottom: none !important;
    }

    .active-menu__child {
        @include main-color-color;
    }

    span {
        align-content: center;
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: space-between;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        transition: 0.3s;
        width: 100%;
        z-index: -1;
    }

    .menu__section {
        animation: menu__section 0.75s ease forwards;
    }

    @keyframes menu__section {

        from {
            transform: translateY(-100%);
        }

        to {
            transform: translateY(0);
        }
    }

    .menu__section span {
        background-position: center;
        background-size: cover;
    }

    .active-menu__child p {
        border-bottom: 1px solid var(--mainColor);
    }

    .active-menu__child span {
        opacity: 0.3;
        transition: opacity 0.7s;
    }

    .active-menu__child::after {
        opacity: 0.04;
        transition: opacity 0.7s;
    }

    .menu__section p {
        animation: menu__section-spanP 0.8s ease forwards;
        animation-delay: 0.6s;
        opacity: 0;
    }

    @keyframes menu__section-spanP {

        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .menu__section-main span {
        background-image: url("/../img/menu/Main.webp");
    }

    .menu__section-paintings span {
        background-image: url("/../img/menu/Paintings.webp");
    }

    .menu__section-architecture span {
        background-image: url("/../img/menu/Architecture.webp");
    }

    .menu__section-sculptures span {
        background-image: url("/../img/menu/Sculptures.webp");
    }

    section:hover span {
        opacity: 0.3;
        transition: 0.4s;
    }

    section::after {
        @include main-color-background;

        content: "";
        height: 100%;
        opacity: 0;
        position: fixed;
        width: 100%;
        z-index: -1;
    }

    section:hover::after {
        opacity: 0.04;
    }
}

.menu-click {
    animation: menuClick 0.8s forwards;
    animation-delay: 0.1s;
    border: 0;
    border: none;
    opacity: 1;
    transform: translateY(-100%);
}

@keyframes menuClick {

    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}
