.window-3 {
    @include contrast-color-black-background;

    padding-bottom: 150px;

    .window-3__image {
        margin-top: -13%;
        position: absolute;
        right: 5%;
        width: 27%;
    }

    .window-3__title-1 {
        @include contrast-color-white-color;

        font-size: 70px;
        line-height: 1.3;
        margin: 110px 0 0 3%;
        text-transform: uppercase;
        width: 50%;

        b {
            color: transparent;
            letter-spacing: 3px;
            -webkit-text-stroke: 1px var(--contrastColorWhite);
            transition: $colorTransition;
        }
    }

    .slider__point {
        align-items: center;
        display: flex;
        margin-left: 3%;
        padding-top: 5vh;

        .point__child {
            border: 2px solid var(--contrastColorWhite);
            height: 22px;
            margin: 0 20px;
            opacity: 0.3;
            transform: rotate(45deg);
            transition: $colorTransition, transform 0.2s;
            width: 22px;
        }

        .point__child:first-child {
            margin-left: 0;
        }

        .point__child:hover {
            transition: 0.2s;
        }

        .point__child-active {
            border: 3px solid var(--mainColor);
            opacity: 1;
            transition: $colorTransition;
        }

        .point__child-active::after {
            @include main-color-background;

            content: "";
            display: block;
            height: 7px;
            margin: 37% 0 0 37%;
            opacity: 1;
            width: 7px;
        }

        .description__button {
            @include contrast-color-white-color;

            background: none;
            border: 2px solid var(--mainColor);
            font-size: 20px;
            margin-left: 20px;
            padding: 15px;
            text-transform: uppercase;
            transform: rotate(45deg);
            transition: 0.3s;

            div {
                transform: rotate(315deg);
            }
        }
    }

    .description__button:hover {
        @include main-color-background;

        transform: scale(0.9) rotate(45deg);
        transition: 0.3s;
    }
}

.slider__information {
    display: flex;
    margin-left: 5%;
    width: 74%;

    .images__sculptur {
        display: none;
    }

    .images__sculptur-active {
        animation: images__sculptur-active-anim 0.5s;
        display: block;
    }

    @keyframes images__sculptur-active-anim {

        from {
            transform: scale(0.3);
        }

        to {
            transform: scale(1);
        }
    }

    .images__background {
        border: 17px solid var(--mainColor);
        transition: $colorTransition;
    }

    .images__background-1 {
        height: 375px;
        margin: 115px 0 0 7%;
        opacity: 0.9;
        transform: rotate(15deg);
        width: 375px;
    }

    .images__background-2 {
        height: 80%;
        margin: 5% 0 0 5%;
        opacity: 0.6;
        width: 80%;
    }

    .images__background-3 {
        height: 70%;
        margin: 10% 0 0 10%;
        opacity: 0.4;
        width: 70%;
    }

    .information__images img {
        margin: 100px 0 0 4%;
        position: absolute;
        width: 320px;
        z-index: 1;
    }

    .information__description {
        margin-left: 12%;
    }

    .description__header {
        @include contrast-color-white-color;

        display: none;
        font-family: "Spectral SC";
        font-size: 55px;
        margin: 185px 0 40px;
        text-transform: uppercase;
        width: 100%;
    }

    .description__text {
        @include contrast-color-white-color;

        display: none;
        font-family: "Spectral SC";
        font-size: 19px;
        letter-spacing: 2px;
        line-height: 1.5;
        width: 100%;
    }

    .description__text-active,
    .description__header-active {
        animation: description__text-active-animation 0.5s;
        display: block;
    }

    @keyframes description__text-active-animation {

        from {
            opacity: 0;
            transform: translateX(25px);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .information__next-slide {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 265px;
        position: absolute;
        right: 5%;

        .next-slide__image {
            display: none;
            opacity: 0.2;
            width: 210px;
        }

        .next-slide__image-active {
            animation: next-slide__image-active-anim 0.5s;
            display: block;
        }

        @keyframes next-slide__image-active-anim {

            from {
                opacity: 0;
            }

            to {
                opacity: 0.2;
            }
        }

        .next-slide__arrow {
            border-bottom: 25px solid transparent;
            border-left: 35px solid var(--contrastColorWhite);
            border-top: 25px solid transparent;
            height: 0;
            margin: -80px -5.5vw 0 0;
            transition: color 0.3s, background-color 0.3s, border-color 0.3s, transform 0.3s;
            width: 0;
            z-index: 1;
        }

        .next-slide__arrow:hover {
            transform: scale(0.9);
            transition: 0.3s;
        }

        .arrow__child {
            border-bottom: 8px solid transparent;
            border-left: 13px solid var(--mainColor);
            border-top: 8px solid transparent;
            height: 0;
            margin: -8px 0 0 -28px;
            position: absolute;
            transition: color 0.3s, background-color 0.3s, border-color 0.3s;
            width: 0;
        }
    }
}
