@media screen and (min-width: 3200px) {

    .content__year {
        font-size: 135px;
    }
}

@media screen and (min-width: 2000px) and (max-width: 3200px) {

    .content__year {
        font-size: 110px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {

    .content__year {
        font-size: 70px;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {

    .content__year {
        font-size: 65px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1000px) {

    .content__year {
        font-size: 64px;
    }
}

@media screen and (min-width: 550px) and (max-width: 767px) {

    .content__year {
        font-size: 44px;
    }
}

@media screen and (min-width: 350px) and (max-width: 550px) {

    .content__year {
        font-size: 35px;
    }
}

@media screen and (min-width: 0) and (max-width: 350px) {

    .content__year {
        font-size: 30px;
    }
}

@media screen and (min-width: 0) and (max-width: 1000px) {

    .content__year {
        margin-top: 19px;
        position: static;
        -webkit-text-stroke: 1px var(--contrastColorWhite);
        z-index: 2;
    }

    .sculpturesToSculpture .content__year {
        animation: sculpturesToSculptureYears 0.3s forwards;
    }

    @keyframes sculpturesToSculptureYears {
        from {
            transform: translateY(-100%);
        }

        to {
            transform: translateY(0);
        }
    }
}
