include ../pug/header
body(data-name="architecture" data-menu="architecture")

main.content

    section.content__image-section
        .image-section__block.mouse-active2
            h1(data-key="topic1").language
            img(src="img/architecture/classic.webp")

        .image-section__block.mouse-active2
            h1(data-key="topic2").language
            img(src="img/architecture/romanesque.webp")

    section.content__image-section
        .image-section__block.mouse-active2
            h1(data-key="topic3").language
            img(src="img/architecture/gothic.webp")
            
        .image-section__block.mouse-active2
            h1(data-key="topic4").language
            img(src="img/architecture/baroque.webp")

        .image-section__block.image-section__jump-block1.mouse-active2
            h1(data-key="topic5").language
            img(src="img/architecture/beaux-arts.webp")
            
    section.content__image-section
        .image-section__block.mouse-active2
            h1(data-key="topic6").language
            img(src="img/architecture/renaissance-revival.webp")

        .image-section__block.mouse-active2
            h1(data-key="topic7").language
            img(src="img/architecture/neoclassical.webp")
            
img(src="#").background

include ../navigation/navigation