.points {
    align-items: center;
    animation: show 0.7s forwards;
    animation-delay: 0.3s;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    opacity: 0;
    position: fixed;
    top: 4vh;
    width: 96%;

    .points__point {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        transform: translateY(-25%);
        z-index: 2;
    }

    .point__icon {
        @include contrast-color-black-background;

        border: 3px solid var(--mainColor);
        height: 0.7vw;
        margin: 1%;
        transform: rotate(45deg);
        transition: $colorTransition, transform 0.3s;
        width: 0.7vw;
        z-index: 2;
    }

    .point__icon-big {
        height: 1vw;
        width: 1vw;
    }

    .points__point-active .point__icon {
        @include main-color-background;

        transform: scale(1.1) rotate(45deg);
        transition: $colorTransition, transform 0.3s;
    }

    .point__year {
        @include main-color-color;

        display: block;
        font-family: "Viaoda Libre";
        font-weight: 100;
        letter-spacing: 2px;
        margin: -1vh 0 0;
        opacity: 0;
        padding-bottom: 1vh;
        width: max-content;
    }

    .points__point-active .point__year {
        opacity: 1;
        transition: 0.3s;
    }
}

.points::after {
    content: "";
    display: inline;
    height: 3px;
    position: absolute;
    width: 100%;

    @include main-color-background;
}
