@media screen and (min-width: 3200px) {

    .content__exemples {
        margin-top: 15vh;

        .exemples__section .image-section__block h3 {
            font-size: 38px;
        }
    }
}

@media screen and (min-width: 2500px) and (max-width: 3200px) {

    .content__exemples {
        margin-top: 15vh;

        .exemples__section .image-section__block h3 {
            font-size: 27px;
        }
    }
}

@media screen and (min-width: 2000px) and (max-width: 2500px) {

    .content__exemples {
        margin-top: 15vh;

        .exemples__section .image-section__block h3 {
            font-size: 24px;
        }
    }
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {

    .content__exemples {
        margin-left: 30%;

        .exemples__section {

            .image-section__block {
                width: 30%;

                h3 {
                    font-size: 19px;
                }
            }
        }
    }
}

@media screen and (min-width: 800px) and (max-width: 1200px) {

    .content__exemples {
        margin-top: 0;

        .exemples__section {
            margin: 3vh 0;

            .image-section__block {
                margin: 6vh 0;
                width: 25%;

                h3 {
                    font-size: 30px;
                }
            }
        }
    }
}

@media screen and (min-width: 500px) and (max-width: 800px) {

    .content__exemples {
        margin-top: 0;

        .exemples__section {
            margin: 2vh 0;

            .image-section__block {
                margin: 6vh 0;
                width: 25%;

                h3 {
                    font-size: 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {

    .content__exemples {
        margin-top: 0;

        .exemples__section {
            flex-direction: column;
            margin: 0;

            .image-section__block {
                margin: 6vh 0;
                width: 40%;

                h3 {
                    font-size: 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {

    .typeToexemples .content {
        animation: hideContent 0.5s forwards;
    }

    .content__exemples {
        flex-direction: column;
        margin-left: 0;
        padding-bottom: 0;
        transform: translateY(0);
        width: 100%;

        .exemples__section {
            justify-content: space-evenly;
        }
    }

    @keyframes exemple {

        from {
            opacity: 0;
            transform: translateY(20%);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .typeToexemples .content__text,
    .typeToexemples .content__exemples,
    .typeToexemples .content__years {
        animation: none;
    }

    .typeToexemples .content__exemples,
    .typeToexemples, .content__text {
        opacity: 1;
    }

    @keyframes hideContent {

        from {
            opacity: 1;
            transform: translateY(0);
        }

        to {
            opacity: 0;
            transform: translateY(2%);
        }
    }
}
