span.menu
  section.menu__section.menu__section1.active-menu__child
    p.mouse-active.language-export(data-key='main') Main
    span
  section.menu__section.menu__section2
    p.mouse-active.language-export(data-key='paintings') Paintings
    span
  section.menu__section.menu__section3
    p.mouse-active.language-export(data-key='architecture') Architecture
    span
  section.menu__section.menu__section4
    p.mouse-active.language-export(data-key='sculptures') Sculptures
    span
  section.menu__section.menu__section5
    p.mouse-active.language-export(data-key='music') Music
    span
span.anim-show.anim-show1
span.anim-show.anim-show2
