section.preloader.preloader-1
    img.preloader__image-1(src="./loader/loader-1.webp", alt="preload image 1")
    img.preloader__image-2(src="./loader/loader-2.webp", alt="preload image 2")
    img.preloader__image-3(src="./loader/loader-3.webp", alt="preload image 3")
    img.preloader__image-4(src="./loader/loader-4.webp", alt="preload image 4")
    img.preloader__image-5(src="./loader/loader-5.webp", alt="preload image 5")
section.preloader.preloader-2