span.menu

  section.menu__section.menu__section-main
    p.mouse-active.language-export(data-key="main")
    span
  section.menu__section.menu__section-paintings
    p.mouse-active.language-export(data-key="paintings")
    span
  section.menu__section.menu__section-architecture
    p.mouse-active.language-export(data-key="architecture")
    span
  section.menu__section.menu__section-sculptures
    p.mouse-active.language-export(data-key="sculptures")
    span

include /transition/transition
