.content__background-line {
    @include main-color-background;

    align-items: flex-end;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    top: 0;
    width: 27%;
    z-index: 0;
}

.paintingToAuthor .content__background-line {
    animation: rightToStatic 0.7s forwards;
}

.authorToPainting .content__background-line {
    animation: rightToStatic 0.7s reverse forwards;
}
