.content__close {
    @include main-color-color;

    align-items: center;
    border: 2px solid var(--contrastColorWhite);
    display: flex;
    font-size: 19px;
    height: 35px;
    justify-content: center;
    position: fixed;
    top: 3vh;
    transform: rotate(45deg) scale(0);
    width: 35px;
}

.paintingToAuthor .content__close {
    animation: content__closeShow 0.5s forwards;
    animation-delay: 0.8s;
    transform: scale(0);
}

.authorToPainting .content__close {
    animation: content__closeShow 0.3s reverse forwards;
}

.authorToAuthor .content__close,
.nextAuthor .content__close,
.swipeRight .content__close,
.swipeLeft .content__close {
    transform: rotate(45deg) scale(1);
}

@keyframes content__closeShow {
    from {
        transform: scale(0) rotate(45deg);
    }

    to {
        transform: scale(1) rotate(45deg);
    }
}

.content__close:hover {
    background: var(--mainColor);
    color: var(--contrastColorWhite);
    transition: $colorTransition;
}
