@media screen and (min-width: 3200px) {

    .body__close-container .close-container__close {
        border: 4px solid var(--contrastColorWhite);
        font-size: 32px;
        height: 65px;
        width: 65px;
    }
}

@media screen and (min-width: 2000px) and (max-width: 3200px) {

    .body__close-container .close-container__close {
        border: 4px solid var(--contrastColorWhite);
        font-size: 26px;
        height: 47px;
        width: 47px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {

    .body__close-container .close-container__close {
        border: 2px solid var(--contrastColorWhite);
        font-size: 19px;
        height: 32px;
        width: 32px;
    }
}

@media screen and (min-width: 700px) and (max-width: 1200px) {

    .body__close-container .close-container__close {
        border: 2px solid var(--contrastColorWhite);
        font-size: 18px;
        height: 35px;
        width: 35px;
    }
}

@media screen and (max-width: 500px) {

    .body__close-container .close-container__close {
        font-size: 16px;
        height: 32px;
        width: 32px;
    }
}

@media screen and (min-width: 0) and (max-width: 1000px) {

    .body__close-container {
        top: 10vh;
        width: 100%;
    }
}
