include ../../pug/header
body(data-type="architecture_type" data-menu="architecture")

main.content
    span.content__close_container
        .content__close.mouse-active2 &#10010;

    section.content__main_image
    h1.content__years IV—VII

    section.content__text
        h2(data-key="topic") Romanesque style
        p(data-key="description") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

    section.content__exemples
        section.exemples__section
            .image-section__block.mouse-active2
                h3(data-key="exemple1").language Romanesque style

            .image-section__block.mouse-active2
                h3(data-key="exemple2").language Romanesque style

        section.exemples__section
            .image-section__block.mouse-active2
                h3(data-key="exemple3").language Romanesque style

            .image-section__block.mouse-active2
                h3(data-key="exemple4").language Romanesque style
    
include ../../navigation/navigation