include /pug/header
body(data-type="architecture_type" data-menu="architecture")

main.content
    span.content__close_container
        .content__close.mouse-active2 &#10010;

    section.content__main_image
    h1.language.content__years(data-key="years")

    section.content__text
        h2.language(data-key="topic")
        p.language(data-key="description")

    section.content__exemples
        section.exemples__section
            .image-section__block.mouse-active2
                h3(data-key="exemple1").language

            .image-section__block.mouse-active2
                h3(data-key="exemple2").language

        section.exemples__section
            .image-section__block.mouse-active2
                h3(data-key="exemple3").language

            .image-section__block.mouse-active2
                h3(data-key="exemple4").language
    
include /navigation/navigation