@import "src/scss/global_styles/variables";
@import "./components/points";
@import "./components/slider";

.content {
    @include contrast-color-black-background;

    overflow: hidden;
    position: absolute;
}

// Background bloks

.bg {
    align-items: flex-end;
    animation: bottomToStatic 0.5s forwards;
    bottom: 0;
    display: flex;
    position: absolute;
    width: 100%;
    z-index: 0;

    span {
        @include main-color-background;

        display: flex;
        height: 25vh;
        width: 20%;
    }

    span:nth-child(2) {
        height: 40vh;
        width: 60%;
    }
}

.sculpture-click {
    animation: topToStatic 0.9s forwards;
}
