@media screen and (min-width: 3200px) {

    .swiper-slide p {
        font-size: 45px;
    }
}

@media screen and (min-width: 2000px) and (max-width: 3200px) {

    .swiper-wrapper {
        margin-top: 18vh;
    }

    .swiper-slide p {
        font-size: 32px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {

    .swiper-slide p {
        font-size: 22px;
    }

    .swiper-slide img {
        width: 78%;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {

    .swiper-wrapper {
        margin-top: 15vh;

        p {
            font-size: 19px;
        }
    }

    .swiper-slide img {
        width: 80%;
    }
}

@media screen and (min-width: 767px) and (max-width: 1000px) {

    .swiper-wrapper {

        p {
            font-size: 21px;
        }
    }

    .swiper-slide img {
        width: 80%;
    }
}

@media screen and (min-width: 500px) and (max-width: 767px) {

    .swiper-wrapper {

        p {
            font-size: 19px;
        }
    }

    .swiper-slide img {
        width: 85%;
    }
}

@media screen and (min-width: 0) and (max-width: 500px) {

    .swiper-wrapper {
        margin-top: 18vh;

        p {
            font-size: 17px;
        }
    }

    .swiper-slide img {
        width: 85%;
    }
}

@media screen and (min-width: 900px) and (max-width: 1400px) and (min-height: 900px) and (max-height: 1600px) {

    .swiper-wrapper p {
        font-size: 22px;
    }
}

@media screen and (max-width: 1050px) {

    .swiper-slide-active {
        animation: fadeInSlider 0.7s forwards;
        transform: scale(1);
    }

    .swiper-slide__image-NOactive:hover {
        transform: scale(1);
    }

    .swiper-slide-activeSwipe {
        transform: none;
    }
}
