@import "src/scss/variables";

.navigation__colors {
    display: flex;
    justify-content: center;
}

.colors__active {
    @include contrast-color-white-background;

    align-items: center;
    display: none;
    flex-direction: column;
    position: fixed;
    right: 4.7%;

    .colors__head {
        @include contrast-color-black-color;

        font-family: "Spectral SC";
        font-size: 16px;
        font-weight: 600;
        text-align: center;
    }

    .active__colors {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 20px 0;
        width: 300px;

        .colors__color {
            display: block;
            height: 35px;
            margin: 10px 25px;
            transform: rotate(135deg);
            width: 35px;
        }

        .colors__black {
            background: #0b0b0b;
            border: 2px solid #fff;
        }

        .colors__white {
            background: #fff;
            border: 2px solid #0b0b0b;
        }

        .colors__yellow {
            background: #ffc700;
        }

        .colors__red {
            background: #e60000;
        }

        .colors__green {
            background: #00e226;
        }

        .colors__violet {
            background: #cd07ff;
        }

        .colors__blue {
            background: #0fd4ff;
        }
    }

    @mixin active-color {
        animation: active-main-color 0.3s forwards;
        content: "";
        display: block;
        height: 41px;
        margin: -5px 0 0 -5px;
        transition: 0.3s;
        width: 41px;
    }

    .active-contrast-color::after {
        @include active-color;

        border: 2px solid var(--contrastColorBlack);
    }

    .active-main-color::after {
        @include active-color;

        border: 2px solid var(--mainColor);
    }

    @keyframes active-main-color {

        from {
            transform: scale(0);
        }

        to {
            transform: scale(1);
        }
    }

    .no-active-main-color::after {
        animation: no-active-main-color 0.3s forwards;
        border: 2px solid var(--mainColor);
        content: "";
        display: block;
        height: 45px;
        margin: -7px 0 0 -7px;
        width: 45px;
    }

    @keyframes no-active-main-color {

        from {
            transform: scale(1);
        }

        to {
            transform: scale(0);
        }
    }
}

.colors__active::after {
    border-bottom: 8px solid transparent;
    border-left: 16px solid var(--contrastColorWhite);
    border-top: 8px solid transparent;
    content: "";
    display: block;
    height: 0;
    position: fixed;
    right: 4%;
    top: 74.6vh;
    transition: $colorTransition;
    width: 0;
}

.colors__icon {
    display: flex;

    .icon__color {
        height: 0;
        width: 0;
    }

    .icon__color-contrast {
        border-bottom: 20px solid transparent;
        border-left: 20px solid var(--mainColor);
        border-top: 20px solid transparent;
        transition: $colorTransition;
    }

    .icon__color-main {
        border-bottom: 20px solid transparent;
        border-right: 20px solid var(--contrastColorBlack);
        border-top: 20px solid transparent;
        transition: $colorTransition;
    }
}
