include cursor
include menu

nav.navigation

  section.navigation__menu.mouse-active
    .menu__lines.menu__lines-lines1.menu__lines-active
    .menu__lines.menu__lines-lines2
    .menu__lines.menu__lines-lines3
    .menu__lines.menu__lines-lines4
    .menu__lines.menu__lines-lines5

  section.navigation__clouse.mouse-active
    .navigation__clouse-diamond
        | &#x271A;

  section.navigation__languages
    .languages__choice
      .active__close-modal.mouse-active &#x271A;
      .choice-active
      .choice__language.language-export.en.mouse-active(data-key='en_language')
      .choice__language.language-export.ua.mouse-active(data-key='ua_language')
      .choice__language.language-export.es.mouse-active(data-key='es_language')
    .languages__language.language-export.mouse-active(data-key='active_language')

  section.navigation__colors

    .colors__active
      .active__close-modal &#x271A;
      .color.active__contrast
        h2.colors__head.language-export(data-key='contrast_colors')
        .color.active__colors
          span.colors__color.colors__black.mouse-active(background='#0b0b0b')
          span.colors__color.colors__white.mouse-active(background='#fff')

      .colors__main
        h2.colors__head.language-export(data-key='main_colors')
        
        .colors.active__colors
          span#main-color1.colors__color.colors__yellow.active-main-color.mouse-active(background='#ffc700')
          span#main-color2.colors__color.colors__red.mouse-active(background='#e60000')
          span#main-color3.colors__color.colors__green.mouse-active(background='#00e226')
          span#main-color4.colors__color.colors__violet.mouse-active(background='#CD07FF')
          span#main-color5.colors__color.colors__blue.mouse-active(background='#0FD4FF')
          
    .colors__icon.mouse-active
      .color.icon__color.icon__color-main
      .color.icon__color.icon__color-contrast


