@media screen and (min-width: 3200px) {

    .scrollbar {

        h1 {
            font-size: 105px;
            margin: 0 30px;
        }

        .swiper-scrollbar {
            height: 5px;
            width: 13vw;
        }

        .swiper-scrollbar .swiper-scrollbar-drag::after {
            height: 40px;
            width: 40px;
        }
    }
}

@media screen and (min-width: 2000px) and (max-width: 3200px) {

    .scrollbar {

        h1 {
            font-size: 80px;
            margin: 0 30px;
        }

        .swiper-scrollbar {
            height: 4px;
            width: 15vw;
        }

        .swiper-scrollbar .swiper-scrollbar-drag::after {
            height: 35px;
            width: 35px;
        }
    }
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {

    .scrollbar {
        top: -8vh;

        .swiper-scrollbar {
            width: 22vw;
        }

        h1 {
            font-size: 52px;
        }

        .swiper-scrollbar .swiper-scrollbar-drag::after {
            height: 20px;
            width: 20px;
        }
    }
}

@media screen and (min-width: 767px) and (max-width: 1000px) {

    .scrollbar {

        .swiper-scrollbar {
            width: 27vw;
        }

        h1 {
            font-size: 52px;
        }

        .swiper-scrollbar .swiper-scrollbar-drag::after {
            height: 20px;
            width: 20px;
        }
    }
}

@media screen and (min-width: 500px) and (max-width: 767px) {

    .scrollbar {

        .swiper-scrollbar {
            width: 200px;
        }

        h1 {
            font-size: 47px;
        }

        .swiper-scrollbar .swiper-scrollbar-drag::after {
            height: 20px;
            width: 20px;
        }
    }
}

@media screen and (min-width: 0) and (max-width: 500px) {

    .scrollbar {

        .swiper-scrollbar {
            width: 35vw;
        }

        h1 {
            font-size: 33px;
            margin: 0 15px;
        }

        .swiper-scrollbar .swiper-scrollbar-drag::after {
            height: 20px;
            width: 20px;
        }
    }
}

@media screen and (min-width: 900px) and (max-width: 1400px) and (min-height: 900px) and (max-height: 1600px) {

    .scrollbar {

        h1 {
            font-size: 75px;
        }

        .swiper-scrollbar {
            width: 25vw;
        }
    }
}
