@media screen and (min-width: 3200px) {

    .content__text {

        h2 {
            font-size: 110px;
        }

        p {
            font-size: 38px;
            letter-spacing: 5px;
            line-height: 55px;
        }
    }
}

@media screen and (min-width: 2500px) and (max-width: 3200px) {

    .content__text {

        h2 {
            font-size: 70px;
        }

        p {
            font-size: 27px;
            letter-spacing: 4px;
            line-height: 45px;
        }
    }
}

@media screen and (min-width: 2000px) and (max-width: 2500px) {

    .content__text {

        h2 {
            font-size: 65px;
        }

        p {
            font-size: 23px;
            letter-spacing: 3px;
            line-height: 40px;
        }
    }
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {

    .content__text {
        margin-left: 37%;

        h2 {
            font-size: 55px;
        }

        p {
            font-size: 18px;
            letter-spacing: 2px;
            line-height: 30px;
            width: 100%;
        }
    }
}

@media screen and (min-width: 700px) and (max-width: 1200px) {

    .content__text {

        h2 {
            font-size: 50px;
        }

        p {
            font-size: 21px;
            line-height: 33px;
        }
    }
}

@media screen and (min-width: 400px) and (max-width: 700px) {

    .content__text {

        h2 {
            font-size: 40px;
        }

        p {
            font-size: 19px;
            letter-spacing: 2px;
            line-height: 30px;
        }
    }
}

@media screen and (max-width: 400px) {

    .content__text {

        h2 {
            font-size: 30px;
        }

        p {
            font-size: 17px;
            letter-spacing: 2px;
            line-height: 27px;
        }
    }
}

@media screen and (min-width: 900px) and (max-width: 1400px) and (min-height: 900px) and (max-height: 1600px) {

    .content__text {
        margin-left: 38%;

        h2 {
            font-size: 58px;
        }

        p {
            font-size: 23px;
            line-height: 35px;
        }
    }
}

@media screen and (max-width: 1200px) {

    .content__text {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 0;
        text-align: center;
        width: 90%;
    }
}
