include /pug/global_pug/header
body(data-name="main" data-menu="main")

include /pug/global_pug/preloader

main.content
  .scroll-container#scroll-container
   include components/window-1
   include components/window-2
   include components/window-3
   include components/window-4
   include components/window-5
   
include /pug/global_pug/navigation
