@import "src/scss/global_styles/variables";

.body__close-container {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 4vh;
    width: 96%;
    z-index: 11;

    .close-container__close {
        @include main-color-color;

        align-items: center;
        border: 2px solid var(--contrastColorWhite);
        display: flex;
        font-size: 19px;
        height: 35px;
        justify-content: center;
        transform: rotate(45deg);
        width: 35px;
        z-index: 11;
    }

    .close-container__close:hover {
        background: var(--mainColor);
        color: var(--contrastColorWhite);
        transition: $colorTransition;
    }
}

.hide3D,
.show3D {
    animation-delay: 0.1s;
    border: 0;
    border: none;
    opacity: 1;
}

.hide3D {
    animation: hide3D 0.7s forwards;
    transform: translateY(100%);
}

@keyframes hide3D {

    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0%);
    }
}

.show3D {
    animation: show3D 0.7s forwards;
    transform: translateY(-100%);
}

@keyframes show3D {

    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0%);
    }
}

canvas {
    left: 0;
    position: fixed;
    top: 0;
    z-index: 10;
}
