@import "src/scss/global_styles/variables";

.body__close-container-3d {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 4vh;
    width: 96%;
    z-index: 11;

    .close-container-3d__close {
        @include main-color-color;

        align-items: center;
        border: 2px solid var(--contrastColorWhite);
        display: flex;
        font-size: 19px;
        height: 35px;
        justify-content: center;
        transform: rotate(45deg);
        width: 35px;
        z-index: 11;
    }

    .close-container-3d__close:hover {
        background: var(--mainColor);
        color: var(--contrastColorWhite);
        transition: $colorTransition;
    }
}

.hide3D,
.show3D {
    animation-delay: 0.1s;
    border: 0;
    border: none;
    opacity: 1;
}

.hide3D {
    animation: hide3D 0.7s forwards;
    transform: translateY(100%);
}

@keyframes hide3D {

    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0%);
    }
}

.show3D {
    animation: show3D 0.7s forwards;
    transform: translateY(-100%);
}

@keyframes show3D {

    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0%);
    }
}

canvas {
    left: 0;
    position: fixed;
    top: 0;
    z-index: 10;
}

// Progress bar

.progress_bar-3d-container {
    @include contrast-color-black-background;

    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: fit-content;
    width: 96%;
    z-index: 10;

    .progress_bar-3d-title {
        overflow: hidden;
        position: absolute;
    }

    h1 {
        font-size: 90px;
        margin: 0;
        text-transform: uppercase;
    }

    .progress_bar-3d-title-1 {
        color: transparent;
        -webkit-text-stroke: 1px var(--contrastColorWhite);
    }

    .progress_bar-3d-title-2 {
        @include main-color-color;

        left: 0;
        overflow: hidden;
        position: absolute;
        top: 0;
        white-space: nowrap;
        width: 0;
        z-index: -1;
    }
}
