@media screen and (min-width: 3200px) {

    .content__first_window {

        .first_window__title {
            font-size: 110px;
        }

        .first_window__button {
            font-size: 45px;
            padding: 35px 45px;
        }
    }
}

@media screen and (min-width: 2000px) and (max-width: 3200px) {

    .content__first_window {

        .first_window__title {
            font-size: 80px;
        }

        .first_window__button {
            font-size: 35px;
            padding: 30px 40px;
        }
    }
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {

    .content__first_window {

        .first_window__title {
            font-size: 45px;
        }

        .first_window__button {
            font-size: 24px;
            padding: 20px 25px;
        }
    }
}

@media screen and (min-width: 800px) and (max-width: 1200px) {

    .content__first_window {

        .first_window__title {
            font-size: 38px;
        }

        .first_window__button {
            font-size: 21px;
            padding: 18px 22px;
        }
    }
}

@media screen and (min-width: 500px) and (max-width: 800px) {

    .content__first_window {
        margin-left: 5%;
        width: 90%;

        .first_window__title {
            font-size: 32px;
        }

        .first_window__button {
            font-size: 20px;
            margin-top: 7vh;
            padding: 15px 20px;
        }
    }
}

@media screen and (min-width: 0) and (max-width: 500px) {

    .content__first_window {
        margin-left: 5%;
        width: 90%;

        .first_window__title {
            font-size: 28px;
        }

        .first_window__button {
            font-size: 19px;
            margin-top: 6vh;
            padding: 14px 18px;
        }
    }
}
