include /pug/global_pug/header
body(data-name="sculptures" data-menu="sculptures")

main.content
    section.points
        .points__line

    .slider

    section.arrows
        .arrows__arrow.arrows__arrow-left.mouse-active2
            .arrow__icon

        .arrows__arrow.arrows__arrow-right.mouse-active2
            .arrow__icon

    .bg
        span
        span
        span

include /pug/global_pug/navigation