section.window-3
      img.window-3__image(src="./img/main/window-3(0).webp", alt="Statue")
      h2.language.window-3__title-1.reveal-texts(data-key="title-3") 
        b  

      section.window-3__slider.reveal-blocks

        section.slider__point
          button.language.description__button.mouse-active2(data-key="3dSculptures")
        
        section.slider__information

          section.information__images
            .images__background.images__background-1 
              .images__background.images__background-2 
                .images__background.images__background-3


          article.information__description
            
          .information__next-slide
              .next-slide__arrow.mouse-active 
                span.arrow__child