@import "src/scss/global_styles/variables";
@import "./components/select_skin";
@import "./components/skins_sections";

body {
    @include contrast-color-black-background;

    height: 100vh;
    overflow: hidden;
    width: 100%;
}

.content {
    align-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    position: absolute;
}

.content__close {
    @include main-color-color;

    align-items: center;
    border: 2px solid var(--contrastColorWhite);
    display: flex;
    font-size: 19px;
    height: 35px;
    justify-content: center;
    position: fixed;
    top: 3vh;
    transform: rotate(45deg);
    width: 35px;
    z-index: 5;

    &:hover {
        @include main-color-background;
        @include contrast-color-white-color;
    }
}

.black_images {

    .content__skins-character::before {
        background-image: url("/../img/game/choose_skin/characters/black/0.webp");
    }

    .content__skins-obstacle::before {
        background-image: url("/../img/game/choose_skin/obstacles/black/0.webp");
    }
}

.white_images {

    .content__skins-character::before {
        background-image: url("/../img/game/choose_skin/characters/white/0.webp");
    }

    .content__skins-obstacle::before {
        background-image: url("/../img/game/choose_skin/obstacles/white/0.webp");
    }
}
