@import "src/scss/global_styles/variables";
@import "./components/big_image";
@import "./components/description";
@import "./components/toTop";
@import "./components/close";

body {
    @include contrast-color-black-background;

    overflow-x: hidden;
}

.content {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
}

.scroll-container {
    align-items: center;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transform-style: preserve-3d;
}

.line-inner {
    transform: translateY(100%);
}

.splitting .word {
    animation: slide-in 0.9s cubic-bezier(0.5, 0, 0.5, 1) both;
}

@keyframes slide-in {

    from {
        clip-path: inset(0% 100% 0% 0%);
        opacity: 0;
    }

    to {
        clip-path: inset(0% 0% 0% 0%);
        opacity: 1;
    }
}

.scrolled {
    animation: scrolled 1s forwards;
}

@keyframes scrolled {

    from {
        opacity: 0;
        transform: translateY(25%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.reveal-blocks,
.reveal-texts {
    opacity: 0;
}

.scrolled-text {
    opacity: 1;
    transition: opacity 0.3s;
}

canvas {
    left: 0;
    position: fixed;
    top: 0;
    z-index: 999999;
}
