@import "src/scss/global_styles/variables";

.navigation__languages {
    display: flex;
    justify-content: center;

    .languages__choice {
        align-self: center;
        border: 3px solid var(--contrastColorWhite);
        display: none;
        flex-direction: column;
        position: fixed;
        right: 4.7%;
        top: 40.5vh;

        @include contrast-color-white-background;
    }

    .languages__choice::after {
        border-bottom: 8px solid transparent;
        border-left: 16px solid var(--contrastColorWhite);
        border-top: 8px solid transparent;
        content: "";
        display: block;
        height: 0;
        position: fixed;
        right: 4%;
        top: 49.5vh;
        transition: $colorTransition;
        width: 0;
        z-index: -2;
    }

    .choice-active {
        @include main-color-background;

        position: absolute;
        transform: translateY(0);
        transition: all 0.3s ease-in-out;
        width: 100%;
        z-index: -1;
    }

    .choice__language {
        @include contrast-color-black-color;

        font-size: 22px;
        padding: 15px;
    }

    .languages__language {
        border-bottom: 2px solid var(--contrastColorBlack);
        font-family: "Spectral SC";
        font-size: 25px;
        padding-bottom: 0;

        @include contrast-color-black-color;
    }
}
