@import "src/scss/global_styles/variables";

.navigation__menu {
    align-items: center;
    display: flex;
    flex-direction: column;

    .menu__lines {
        @include contrast-color-black-background;

        display: flex;
        height: 2px;
        margin: 2px 0;
    }

    .menu__lines-lines1 {
        width: 45px;
    }

    .menu__lines-lines2 {
        width: 35px;
    }

    .menu__lines-lines3 {
        width: 25px;
    }

    .menu__lines-lines4 {
        width: 15px;
    }

    .menu__lines-lines5 {
        width: 7px;
    }

    .menu__lines-active {
        @include main-color-background;

        width: 45px;
    }
}

.notActiveMenuIcon {
    animation: navigation__menu 0.3s forwards;
}

@keyframes navigation__menu {

    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

// Close icon

.navigation__clouse {
    align-items: center;
    animation: navigation__clouse 0.3s forwards;
    display: none;
    flex-direction: column;

    @keyframes navigation__clouse {

        from {
            transform: scale(0) rotate(45deg);
        }

        to {
            transform: scale(1) rotate(45deg);
        }
    }

    .navigation__clouse-diamond {
        align-content: space-around;
        align-items: center;
        border: 2px solid var(--contrastColorBlack);
        color: transparent;
        display: flex;
        font-size: 18px;
        height: 26px;
        justify-content: center;
        text-shadow: 0 0 0 var(--mainColor);
        transition: $colorTransition;
        width: 26px;
    }

    .navigation__clouse-lines {
        @include main-color-background;

        display: flex;
        height: 2px;
        justify-content: center;
        width: 25px;
    }

    .navigation__clouse-cross {
        @include main-color-color;

        font-size: 17px;
        transform: rotate(45deg);
    }
}
