@import "src/scss/variables";
@import "./components/close";
@import "./components/exemples";
@import "./components/text";
@import "./components/main_image";

body {
    @include contrast-color-black-background;

    height: 100vh;
    overflow: hidden;
    width: 100%;
}

.content {
    align-content: flex-end;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    position: absolute;
}
